* {
    width: 100%;
}

body {
    background-image: url(images/bg1.jpg);
    background-size: cover;

}

.main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.firstOption {
    padding: 20px;
    margin: 20px;
}

.imgs {
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.imgs:hover {
    transform: scale(1.6);
    transition: transform 1.5s ease;
    border: 2px dashed white;
}

/* #forDetails {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 10px;
} */

#headTitle {
    text-align: center;
}

#headTitle:hover {
    transform: scale(2);
    transition: transform 1.5s ease;
    color: blue;
}


